header{
	height: 100px;
	background:#000;
}
.logo-left{
	float: left;
}
.logo-left a{
	display: block;
	padding-top: 35px;
}
.logo-left img,h2{
	float: left;
}
.logo-left h2{
	color:#FFF;
}
.logo-right{
	float: left;
	margin-left: 340px;
}
.logo-right ul{
	float: left;
}
.logo-right li{
	float: left;
	margin-left: 40px;
	line-height: 100px;
}
.logo-right li a{
	font-size: 16px;
	color: #FFF;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: -195px;  top: 100px;
  background-color: #2A2D3F;
  min-width: 550px;
  padding: 12px 16px;
}
.dropdown-content span{
	margin-left: 80px;
}
.dropdown:hover .cp{
	color: #FF6666;
}
.dropdown:hover .dropdown-content {
  display: block;
  color: #FFF;
}
.logo-right input{
	float: left;
	width: 200px;
	height: 38px;
	margin-top: 31px;
	margin-left: 39px;
	border-radius: 5px;
	background: url(../img/search.png)  #ccc no-repeat center right 10px;
}
main{
	background: #F5F5F5;
	padding-bottom: 90px;
}
.group{
	background: #fff;
	height: 365px;
	padding-top: 20px;
}
.group-top li{
	float: left;
}
.group-top a{
	color: #444444;
	font-size: 18px;
}
.group-top span{
	color: #CCCCCC;
	margin: 0 12px;
	font-size: 24px;
}
.group-bottom{
	margin-top: 40px;
}
.group-bottom .left li{
	height: 90px;
	font-size: 18px;
	font-weight: bolder;
	padding-top: 12px;
	box-sizing: border-box;
}
.group-bottom .right ul{
	padding-left: 50px;
	box-sizing: border-box;
	width: 1010px;
}
.group-bottom .right ul li{
	float: left;
	padding: 0 35px;
	text-align: center;
	font-size: 16px;
	line-height: 35px;
}
.group-bottom .right p{
	width: 66px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	background: #CCCCCC;
	border-radius: 4px;
	color: #fff;
	
}
.group-bottom .right>div>.active{
	background: #FF6666;
}
.group-bottom .right ul>.active{
	color: #FF7070;
}
.group-bottom .right>div{
	width: 1080px;
	height: 90px;
	border-bottom: 1px solid #DCDCDC;
	padding-top: 12px;
	box-sizing: border-box;
}
.product{
	height: 1140px;
	padding-top: 30px;
}
.product>ul {
	margin-left: 35px;
}
.product>ul li{
	float: left;
	font-size: 18px;
	height: 17px;
	font-weight: bolder;
}
.product>ul li p{
	width: 2px;
	height: 17px;
	background: #CCCCCC;
	margin: 5px 30px  0 30px; 

}
.block{
	margin-top: 30px;
}
.block-pieces{
	width: 229px;
	height: 340px;
	box-sizing: border-box;
	background: #fff;
	margin-top: 14px;
	text-align: center;
	border-top: 1px solid #fff;
	float: left;
	margin-right: 13px;
}
.block-pieces:nth-child(5n){
	margin-right: 0;
}
.block-pieces .img{
	margin: 12px 0px;

}
.block-pieces p{
	color: #666666;
	font-size: 16px;
}
.block-pieces h4{
	font-size: 18px;
	margin: 13px 0;
}
.block-pieces a{
	display: block;
}
.block-pieces span{
	font-size: 16px;
	color: #FF6666;
	font-weight: bolder;
}
.block-pieces a{
	color: #B4B4B4;
	margin-top: 12px;
}
.paging{
	width: 693px;
	margin: 0 auto;
	margin-top: 90px;
}
.paging>ul li{
	float: left;
	height: 46px;
	line-height: 46px;
	border: 1px solid #F0F0F0;
	padding: 0 20px;
	font-size: 18px;
	color: #6D6D6D;
}
.paging>ul .active{
	background: #FF4400;
	border: 1px solid #F7D4C8;
	color: #fff;
}
.paging span{
	height: 48px;
	line-height: 48px;
}
.paging p{
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	color: #ABABAB;
	margin-left: 5px;
}

.paging p input[type='text']{
	width: 45px;
	height: 26px;
	line-height: 26px;
	text-align: center;
}
.paging p input[type='button']{
	width: 54px;
	height: 26px;
	line-height: 26px;
	text-align: center;
}
.go-2-top{
	width:40px;
	height:40px;
	text-align: center;
	line-height: 40px;
	background:#FFFFFF;
	cursor:pointer;
	position:fixed;
	right:10%;
	bottom:30%;
	display:none;
	font-size: 30px;
	font-weight: bolder;
}


footer span{
	display: block;
	width: 1200px;
	margin: auto;
	margin-top: 430px;
	padding-left: 25px;
	color: #5B5B5B;
	font-size: 15px;
}
footer{
	height: 580px;
	background-color: #000;
}
footer img{
	width: 100%;
}
.foot-inner{
	margin-top: 70px;
	color: #fff;
}
.foot-inner ul{
	float: left;
	margin-left: 260px;
}
.foot-inner ul  p{
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 15px;
}
.foot-inner li a{
	font-size: 14px;
	color: #FFF;
	line-height: 23px;
}