*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-weight: normal;
}
/*header*/
header{
	height: 100px;
    background:#000;
    position: relative;
}
.logo-left{
	float: left;
}
.logo-left a{
	display: block;
	padding-top: 35px;
}
.logo-left img,.logo-left h2{
	float: left;
}
.logo-left h2{
	color:#FFF;
}
.logo-right{
	float: right;
    margin-left: 340px;
    position: absolute;
    right: 360px;
}
.logo-right ul{
    float: left;
}
.logo-right li{
	float: left;
	margin-left: 40px;
	line-height: 100px;
}
.logo-right li a{
	font-size: 16px;
	color: #FFF;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: -195px;  top: 100px;
  background-color: #2A2D3F;
  min-width: 550px;
  padding: 12px 16px;
}
.dropdown-content span{
	margin-left: 80px;
}
.dropdown:hover .cp{
	color: #FF6666;
}
.dropdown:hover .dropdown-content {
  display: block;
  color: #FFF;
}

    .logo-right input{
        position: absolute;
        right: -320px;
        float: left;
        width: 200px;
        height: 38px;
        margin-top: 31px;
        margin-left: 39px;
        border-radius: 5px;
        background: url(../img/search.png)  #ccc no-repeat center right 10px;
    }
    




/*内容区域*/
.content{
    height: 2430px;
}

.content .piano{
    width: 100%;
    height: 304px;
}
.content .piano p{
    font-size: 16px;
    color: #666666;
    margin-bottom: 35px;
    padding-top: 20px;
}
.content .piano p span::before{
    color: #CCCCCC;
    margin-right: 10px;
    margin-left: 10px;
}
.content .piano p i{
    color: black;
}
.content .piano  h2{
    font-size: 34px;
    margin-bottom: 42px;
    display: block;
}
.content .piano span{
   font-size: 16px;
   line-height: 34px;
}

/*list区域*/
.content .list{
    width: 100%;
    height: 880px;
}
.content .list h3{
    font-size: 32px;
    margin-bottom: 30px;
}
.content .list .l1{
    width:100%;
    height:52px ;
    margin-bottom: 60px;
}
.content .list .l1 li{
    width: 250px;
    height: 50px;
    background: #EEEEEE;
    font-size: 22px;
    float: left;
    line-height: 52px;
    margin-right: 40px;
    text-align: center;
}
.content .list .l1 li span::before{
    margin-left: 49px;
}
.dropdown1{
    position: relative;
    display: inline-block;
}
.dropdown-content1 {  
    position: absolute;
    left: 0;  top: 51px;
    background-color:rgba(255, 255, 255, .7);
    width: 369px;
    height: 236px;
    display: none;
}
.dropdown-content1 span a{
      margin-right: 65px;
      color: black;
}
.dropdown-content1 span a:hover{
	text-decoration: underline;
}
.dropdown1{
    width: 250px;
    height: 50px;
}
.dropdown1 span .cp{
    color: black;
}
.dropdown1:hover{
      background-color: #FF6666;
}
.dropdown1 span .cp:hover{
    color: white;
}
.dropdown1:hover .dropdown-content1 {
    display: block;
    color: #FFF;
}
.content .list .introduce{
    width: 100%;
    height: 580px;
}
.content .list .introduce .pc1{
    width: 375px;
    height: 100%;
    background: white;
    float: left;
    margin-right: 25px;
}
.content .list .introduce .pc1 .img{
    width: 373px;
    height: 385px;
	overflow: hidden;
}
.content .list .introduce .pc1 .img img:hover{
    transform: scale(1.2);
	transition: 0.3s linear;
	
	
}
.content .list .introduce .pc1 .img img{
    width: 373px;
    height: 385px;
	overflow: hidden;
}
.content .list .introduce .pc1 h4{
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;  
    margin-bottom: 18px; 
}
.content .list .introduce .pc1 span{
    font-size: 16px;
    margin-bottom: 14px; 
    display: inline-block;
}   
.content .list .introduce .pc1 p{
    font-size: 14px;
    line-height: 32px;
}


.content .apply{
    width: 100%;
    height: 512px;
}
.content .apply h3{
    font-size: 26px;
    margin-bottom: 40px;
}
.content .apply .use{
    width: 100%;
    height: 350px;
}
.content .apply .use .pic2{
    width: 381px;
    height: 100%;
    float: left;
    margin-right: 18px;
}
.content .apply .use .pic2 .img{
    width: 383px;
    height: 200px;
	overflow: hidden;
}
.content .apply .use .pic2 .img img:hover{
    transform: scale(1.2);
	transition: .3 ease-in;
}
.content .apply .use .pic2 .img img{
    width: 383px;
    height: 200px;
	overflow: hidden;
}
.content .apply .use .pic2 h6{
   font-size: 16px;
   margin-top: 32px;
   margin-bottom: 20px;
   font-weight: bold;
}


.content .spacil{
    width: 100%;
    height: 568px;
}
.content .spacil h3{
    font-size: 32px;
    margin-bottom: 42px;
}
.content .recom{
    width: 100%;
    height: 478px;
}
.content .recom .pic3{
    width: 380px;
    height: 480px;
    float: left;
    border: 2px solid #ccc;
    margin-right: 16px;
}
.content .recom .pic3 .img{
    width: 380px;
    height: 278px;
}
.content .recom .pic3 .img img{
    width: 380px;
    height: 278px;
}
.content .spacil .recom .pic3 h4{
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-weight: bold;
}
.content .spacil .recom .pic3 p{
    font-size: 12px;
    line-height: 38px;
    margin-left: 30px;
    color: #999999;
}

/*footer部分*/
footer span{
	display: block;
	width: 1200px;
	margin: auto;
	margin-top: 430px;
	padding-left: 25px;
	color: #5B5B5B;
	font-size: 15px;
}
footer{
	height: 580px;
	background-color: #000;
}
footer img{
    width: 100%;
}
.foot-inner{
	margin-top: 70px;
	color: #fff;
}
.foot-inner ul{
	float: left;
	margin-left: 260px;
}
.foot-inner ul  p{
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 15px;
}
.foot-inner li a{
	font-size: 14px;
	color: #FFF;
	line-height: 30px;
}